{% extends "base.html" %}

{% block content %}
  <h1 class="my-5">There are the notes:</h1>
  <a href="{%  url 'logout' %}"  class="btn btn-danger">Logout</a>
  <div class="row row-cols4 g-2">
    {% for note in notes %}
    <div class="col">
      <div class="p-2 border">
        <a href="{% url 'notes.detail' pk=note.id%}" class="text-dark text-decoration-none">
          <h3>{{note.title}}</h3>
        </a>
        {{note.text|truncatechars:10}}
      </div>
      {% endfor %}
    </div>
  </div>


{% endblock%}